{% extends "layouts/base-error.html" %}

{% block title %} LandingPage {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block css %}{% endblock css %}

{% block content %}
                
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Landing Pages</h1>

            <p>
            Esta página será la página de presentación del sitio.
            </p>

            <ul>
                <li><a href="/diccionario">Diccionario</a></li>
                <li><a href="/persona">Persona</a></li>
            </ul>
        </div>
    </main>
                
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block js %}{% endblock js %}
